html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-image: url('../img/park.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
    body {
        background-image: url('../img/park.jpeg');
        font-size: 100%;
    }
}

@media only screen and (min-width: 200px) {
    body {
        background-image: url('../img/park.jpeg');
        font-size: 80%;
    }
}

@media only screen and (min-width: 1100px) {
    body {
        background-image: url('../img/park.jpeg');
        font-size: 120%;
    }
}


@media only screen and (max-width: 1100px) {
    #logo {
        max-width: 250px;
    }
}



/*
@media screen and (orientation: portrait) {
    #logo { max-width: 100%; }
}

@media screen and (orientation: landscape) {
    #logo { max-height: 60%; }
} */

header {
    text-align: center;
}

header h4 {
    color: red;
    margin: auto;
    padding: 60px 30px 20px 30px;
    text-align: center;
    font-family: Arial;
    text-decoration: none;

}

main h1 {
    text-align: center;
    color: #563e3f;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;

}


main h2 {
    text-align: center;
    color: #22860e;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    padding-top: 1em;

}

main p {
    text-align: center;
    color: #031400;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-top: 2em;
    padding-bottom: 2em;

}

#colors {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}


#square1 {
    width: 8em;
    height: 8em;
    background: #c30005;
    display: inline-block;
    border: 5px solid white;
    margin: 20px;

}

#square2 {
    width: 8em;
    height: 8em;
    background: #1e431e;
    display: inline-block;
    border: 5px solid white;
    margin: 20px;


}

#square3 {
    width: 8em;
    height: 8em;
    background: #e5e1d2;
    display: inline-block;
    border: 5px solid white;
    margin: 20px;

}

#square4 {
    width: 8em;
    height: 8em;
    background: #888686;
    display: inline-block;
    border: 5px solid white;
    margin: 20px;

}

#square5 {
    width: 8em;
    height: 8em;
    background: #563e3f;
    display: inline-block;
    border: 5px solid white;
    margin: 20px;

}



@media only screen and (min-width: 1100px) {
    #square1 {
        width: 9em;
        height: 9em;
    }

    #square2 {
        width: 9em;
        height: 9em;
    }

    #square3 {
        width: 9em;
        height: 9em;
    }

    #square4 {
        width: 9em;
        height: 9em;
    }

    #square5 {
        width: 9em;
        height: 9em;
    }
}

#buttons {
    margin: 0 auto;
    width: 50%;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}

#button1 {
    display: inline-block;
    padding: 1em;
    background-color: #c30005;
    text-decoration: none;
    margin: 0 auto;

}

#button1 a {
    font-family: cursive;
    color: #e5e1d2;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}


/* Underline From Center - green underline */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #1e431e;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover::before,
.hvr-underline-from-center:focus::before,
.hvr-underline-from-center:active::before {
    left: 0;
    right: 0;
}

#button2 {
    display: inline-block;
    padding: 1em;
    background-color: #22860e;
    text-decoration: none;

}

#button2 a {
    font-family: cursive;
    color: #e5e1d2;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

/* Underline From Center - button 2 */
.hvr-underline-frm-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.hvr-underline-frm-center::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #c30005;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-frm-center:hover::before,
.hvr-underline-frm-center:focus::before,
.hvr-underline-frm-center:active::before {
    left: 0;
    right: 0;
}
