* {
    margin: 0;
    padding: 0;
    border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section
summary {
    display: block;
}

body {
    background-image: url('../img/park.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

@media only screen and (max-width: 800px) {
    body {
        background-image: url(../img/park.jpeg);
    }
}

@media only screen and (min-width: 200px) {
    body {
        background-image: url(../img/park.jpeg);
    }
}

#logo {
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

@media screen and (orientation: portrait) {
    #logo { max-width: 70%; }
}

@media screen and (orientation: landscape) {
    #logo { max-height: 70%; }
}

header h4 {
    color: red;
    margin: auto;
    padding: 60px 30px 20px 30px;
    text-align: center;
    font-family: Arial;
    text-decoration: none;

}
